/* Global markup */
h1, h2, h3, h4, h5, h6{
	font-family: "Georgia", serif;
}

p, li{
	font-family:"Helvetica", sans-serif;
}

h1.page-header{
	color: white;
	background-color: black;
	margin: 0 0 0 0;
}

h2.subheading{
	font-family:"Helvetica", sans-serif;
	color: white;
	background-color: black;
	padding: 0 0 0 20px;
	margin: 0 0 0 0;
}

div#nav-content{
	float: left;
	margin-left: 20px;
	width: 400px;
}

ul.top-nav{
	padding: 20px 0 50px 0;

}

ul.bottom-nav{
	padding: 20px 0 30px 0;
	margin-left: 20px
}

ul.top-nav li, ul.bottom-nav li{
	display: inline;
	float: left;
	border-style: solid;
	text-align: center;
}

ul.top-nav a, ul.bottom-nav a{
	display: block;
    width: 100px;
	text-decoration: none;
	color: black;
}

ul.top-nav a:hover, ul.bottom-nav a:hover{
	background-color: black;
	color: white;
}

ul.top-nav a: visited, ul.bottom-nav a:visited { 
	color:black; 
}

div#share-aside{
	float: left;
	width: 375px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

h2.share-header{
	margin: 0 0 -15px 0;
	padding: 0 0 0 16px;
}

ul.share-links{
	padding: 0 50px 0 0;
}

ul.share-links li{
	display:inline;
	float: left;
	list-style-type: none;
	padding: 0 3px 0 3px;
}

aside#sidebar{
	float: left;
	padding: 0 15px 0 20px;
	margin: 50px 50px 0 0;
	border-style: double;
	border-color: black;
}

footer{
	clear: both;
}

p.smalltext {
	font-size: small;
}


/* index.html specific markup */

ul.poem{
	padding: 25px 0 50px 0;
}

ul.poem li{
	list-style-type: none;
	width: 400px;
	font-size: 16px;
	padding: 5px 0 5px 0;
}

ul.poem li:first-child:first-letter { 
	float: left; 
	color: black; 
	font-size: 75px; 
	line-height: 60px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 3px; 
	font-family: "Helvetica"; 
}

/* about-poe.html specific markup */

p.bio-photo{
	float: left;
	text-align: center;
  	font-style: italic;
  	font-size: smaller;
  	text-indent: 0;
	margin: -15px 0 20px 0;
	width: 250px;
}

div#poe-bio-text-top{
	float:left;
	width:350px;
}

dl.poe-bio-details{
	width: 284px;
}

dl.poe-bio-details dt{
	font-family: "Helvetica", sans-serif;
	font-weight: bold;
	text-align: left;
}

dl.poe-bio-details dd{
	font-family: "Georgia", serif;
	font-style: italic;
	text-align: center;
}
div#selected-works-group{
	float: left;
}

table#selected_works{
	float:left;
	border-style: double;
	font-size: 16px;
	width: 325px;
	border-collapse: collapse;
}

table#selected_works tr, th, td{
	border: 1px solid black;
}

table#selected_works td{
	padding-left: 3px
}

table#selected_works th{
	padding-right: 2px;
}

div#bio-text-bottom{
	width: 745px;
	margin-left: 20px;
}

ol.bibliography li:before{
	content:"[" counter(section, decimal) "]";
}

ol.bibliography li{ 
	counter-increment: section;
	font-size: small;
	list-style-type: none;
}

/* interpretation styles */

aside#sidebar-interpretation{
	float: left;
	padding: 0 15px 0 20px;
	margin: 50px 50px 0 0;
	border-style: double;
	border-color: black;
}

div#content-text-bottom{
	width: 745px;
	margin-left: 20px;
}

section#content h2{
	margin-bottom: -10px;
}

section#content p{
	margin-right: 10px
}