/* Global markup */
h1, h2, h3, h4, h5, h6{
	font-family: "Georgia", serif;
}

p, li{
	font-family:"Helvetica", sans-serif;
}

h1.heading{
	color: white;
	background-color: black;
	margin: 0 0 0 0;
}

h2.subheading{
	font-family:"Helvetica", sans-serif;
	color: white;
	background-color: black;
	padding: 0 0 0 20px;
	margin: 0 0 0 0;
}

div#container-nav-content{
	float: left;
	margin-left: 20px;
	width: 400px;
}

ul.nav-site{
	padding: 20px 0 50px 0;

}

ul.nav-site li{
	display: inline;
	float: left;
	border-style: solid;
	text-align: center;
}

ul.nav-site a {
	display: block;
    width: 100px;
	text-decoration: none;
	color: black;
}

ul.nav-site a:hover {
	background-color: black;
	color: white;
}

ul.nav-site a:visited { 
	color:black; 
}

ul.nav-site a:visited:hover {
	background-color: black;
	color: white;
}

div#container-share-aside{
	float: left;
	width: 375px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

h2.share-header{
	margin: 0 0 -15px 0;
	padding: 0 0 0 95px;
}

ul.share-links{
	padding: 0 50px 0 45px;
}

ul.share-links li{
	display:inline;
	float: left;
	list-style-type: none;
	padding: 0 3px 0 3px;
}

aside#aside-sidebar{
	float: left;
	padding: 0 15px 0 20px;
	margin: 50px 50px 0 0;
	border-style: double;
	border-color: black;
}

footer{
	clear: both;
}

p.smalltext {
	font-size: small;
}


/* index.html specific markup */

ul.content-poem{
	padding: 25px 0 50px 0;
}

ul.content-poem li{
	list-style-type: none;
	width: 400px;
	font-size: 16px;
	padding: 5px 0 5px 0;
}

ul.content-poem li:first-child:first-letter { 
	float: left; 
	color: black; 
	font-size: 75px; 
	line-height: 60px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 3px; 
	font-family: "Helvetica"; 
}

/* about-poe.html specific markup */

p.content-photo{
	float: left;
	text-align: center;
  	font-style: italic;
  	font-size: smaller;
  	text-indent: 0;
	margin: -15px 0 20px 0;
	width: 250px;
}

div#content-bio{
	float:left;
	width:350px;
}

dl.aside-sidebar-details{
	width: 284px;
}

dl.aside-sidebar-details dt{
	font-family: "Helvetica", sans-serif;
	font-weight: bold;
	text-align: left;
}

dl.aside-sidebar-details dd{
	font-family: "Georgia", serif;
	font-style: italic;
	text-align: center;
}
div#aside-sidebar-works{
	float: left;
}

table#aside-sidebar-works-table{
	float:left;
	border-style: double;
	font-size: 16px;
	width: 325px;
	border-collapse: collapse;
}

table#aside-sidebar-works-table tr, th, td{
	border: 1px solid black;
}

table#aside-sidebar-works-table td{
	padding-left: 3px
}

table#aside-sidebar-works-table th{
	padding-right: 2px;
}

caption{
	padding: 10px 0 10px 24px;
	font-family: "Georgia", serif;
	font-size: 32px;
	font-weight: bold;
	text-align: left;
	color: black;
}

div#continued-bio{
	width: 745px;
	margin-left: 20px;
}

ol.bibliography li:before{
	content:"[" counter(section, decimal) "]";
}

ol.bibliography li{ 
	counter-increment: section;
	font-size: small;
	list-style-type: none;
}

/* interpretation.html specific styles */

section#content-interpretation h2{
	margin-bottom: -10px;
}

section#content-interpretation p{
	margin-right: 10px
}

div#continued-interpretation {
	width: 745px;
	margin-left: 20px;
}